/* .orderid {
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5F5A6B;
}

.order-id span {
    font-weight: 400;
}

.custom-button {
    background-color: #D54029;
    color: white;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;

} */